include setup.py requirements.txt
recursive-include bitproto *.py
recursive-exclude venv *
recursive-exclude dist *
recursive-exclude build *
recursive-exclude *.egg-info *
recursive-exclude .git *
recursive-exclude .mypy_cache *
recursive-exclude __pycache__ *
recursive-exclude .ruff_cache *
