name: bitproto benchmark

env:
  TZ: Asia/Shanghai

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-20.04, ubuntu-18.04, macos-latest]
        python: [3.9]
        go: [1.15]

    runs-on: ${{ matrix.os  }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - uses: actions/checkout@v2
    - name: Set up Golang ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Install bitproto compiler
      run: |
        pip install -e ./compiler

    - name: Install bitproto python lib
      run: |
        pip install -e ./lib/py

    - name: Run benchmark
      run: |
        make bench
        make bench-c-o1
        make bench-c-o2
