name: bitproto ci

env:
  TZ: Asia/Shanghai

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-18.04]
        python: [3.7, "3.10", "3.11"]
        go: ["1.19", "1.16"]

    runs-on: ${{ matrix.os  }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - uses: actions/checkout@v2
    - name: Set up Golang ${{ matrix.go }}
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go }}

    - name: Install bitproto compiler
      run: |
        pip install -e ./compiler

    - name: Install bitproto python lib
      run: |
        pip install -e ./lib/py

    - name: Install dev requirements
      run: |
        pip install -r compiler/requirements_dev.txt
        pip install -r lib/py/requirements_dev.txt

    - name: Install tests requirements
      run: |
        pip install -r tests/requirements_tests.txt


    - name: Install clang-format 11.0
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        sudo apt-add-repository 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-11 main'
        sudo apt update
        sudo apt-get install clang-format-11 -y
      if: "matrix.python == '3.10'"

    - name: Run lints
      run: |
        make lint CLANG_FORMAT=clang-format-11
      if: "matrix.python == '3.10'"

    - name: Run tests
      run: |
        make test --no-print-directory -s
